# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
variables*.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.retry
jdauphant.nginx

# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
