project = "infra-189816"
public_key_path = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
disk_image = "reddit-base"
zone = "europe-west1-b"
backet_tfstate = "189816-terraform-state"
prefix_tfstate = "prod"
connection_source_range = ["82.199.101.150/32"]
